<h1><%= @author.name %></h1>

<ul>
  <% @author.books.each do |book| %>
    <%= book.name %>
  <% end %>
</ul>

<ul>
  <li><%= link_to "Edit Author Name", edit_author_path(@author) %></li>
  <li><%= link_to "Remove Author", author_path(@author), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %></li>
</ul>